// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.custom-height {
    height: 300px;
}

.payment-type-color-1 {
    background-color: #0000FF; 
    color: #FFFFFF; 
}

.payment-type-color-2 {
    background-color: #FFFF00; 
    color: #000000; 
}
.status-color-1 {
    background-color: #FF0000; 
    color: #FFFFFF; 
}

.status-color-2 {
    background-color: #00FF00; 
    color: #000000; 
}